
.ListMachines {
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 25px;
    height:100%;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 85px;
}

.ListMachines table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ListMachines table th {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ListMachines h1 {
    padding-bottom: 10px;
}







